<h1>Editing meetup event</h1>

<%= render "form", meetup_event: @meetup_event %>

<br>

<div>
  <%= link_to "Show this meetup event", @meetup_event %> |
  <%= link_to "Back to meetup events", meetup_events_path %>
</div>
