<p style="color: green"><%= notice %></p>

<h1>Meetup events</h1>

<div id="meetup_events">
  <% @meetup_events.each do |meetup_event| %>
    <%#= render meetup_event %>
    <div>
      <%= link_to meetup_event["name"], meetup_event_path(meetup_event["id"]) %>
    </div>
    <%= meetup_event["local_date"] %>
  <% end %>
</div>

<%= link_to "New meetup event", new_meetup_event_path %>
