<div class="container mx-auto h-full px-24 text-xl font-normal leading-normal sm:px-4">
  <div class="Wrapper grow-1 mt-10 flex flex-col">
    <section class="Hero__Section grid h-full gap-4 sm:grid-cols-3">
      <div class="col-span-2">
        <div class="ltr">
          <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/d1owwvlx0aeqeqw-1@1x.png" alt="thumbnail" class="Event_thumbnail h-[200] w-full rounded-s-lg bg-gray-200"/>

          <div class="rounded-s-lg bg-gray-200"></div>
        </div>
      </div>
      <div class="h-full bg-white shadow-lg">
        <div class="h-full p-6">
          <div class="flex h-full flex-col justify-between">
            <div class="space-y-4">
              <h2 class="arc_subtitle text-red-600">Date and Time</h2>
              <p class="flex flex-col">5.00 PM - 8.00 PM . EAT .<span> June 22, 2023 </span></p>
              <div>
                <a href="" class="flex items-center gap-1">
                  <span class=""
                  ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
                    </svg> </span
                  >Add to Calendar</a
                >
              </div>
            </div>

            <div>
              <button class="flex w-full items-center justify-center rounded-md bg-red-900 p-2 text-white">Attend
                Event
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="Event__details gap-4 sm:grid-cols-3">
      <h1 class="arc_title mt-10">Vim and Ruby on Rails meetup</h1>

      <div class="grid gap-4 py-10 sm:grid-cols-3">
        <div class="col-span-2">
          <div class="">
            <p class="arc_subtitle">About event</p>
            <p class="arc_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum sit amet justo
              donec enim. Pulvinar mattis nunc sed blandit. Consectetur adipiscing elit duis
              tristique. Id interdum velit laoreet id donec. Eros in cursus turpis massa tincidunt
              dui. Eget magna fermentum iaculis eu. Ornare quam viverra orci sagittis. Ipsum
              suspendisse ultrices gravida dictum fusce. Faucibus scelerisque eleifend donec pretium
              vulputate sapien nec sagittis aliquam. Auctor augue mauris augue neque gravida in
              fermentum et. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Amet
              consectetur adipiscing elit pellentesque habitant morbi. Enim neque volutpat ac
              tincidunt vitae semper quis.</p>
          </div>
          <div class="py-10">
            <p class="arc_subtitle">Speakers</p>
            <div>
              <div class="cards grid grid-cols-3 gap-4">
                <div class="Speaker_Card">
                  <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/img-3-1000x1000-1@1x.png" alt="" class="h-[75] w-full rounded-t-lg bg-slate-200"/>

                  <div class="px-3">
                    <p class="arc_subtitle mt-1">John Doe</p>

                    <!-- Socials -->
                    <div class="Speakers_Socials">
                      <div class="inline-flex justify-start space-x-4">
                        <div class="flex items-center gap-1">
                          <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/logo-github-12@1x.png" alt="" class="h-5 w-5 rounded-full"/>
                          <span>Github</span></div>
                        <div class="flex items-center gap-1">
                          <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/logo-github-12@1x.png" alt="" class="h-5 w-5 rounded-full"/>
                          <span>Github</span></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="Speaker_Card">
                  <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/img-3-1000x1000-1@1x.png" alt="" class="h-[75] w-full rounded-t-lg bg-slate-200"/>

                  <div class="px-3">
                    <p class="arc_subtitle mt-1">John Doe</p>

                    <!-- Socials -->
                    <div class="Speakers_Socials">
                      <div class="inline-flex justify-start space-x-4">
                        <div class="flex items-center gap-1">
                          <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/logo-github-12@1x.png" alt="" class="h-5 w-5 rounded-full"/>
                          <span>Github</span></div>
                        <div class="flex items-center gap-1">
                          <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/logo-github-12@1x.png" alt="" class="h-5 w-5 rounded-full"/>
                          <span>Github</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Speaker_Card">
                  <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/img-3-1000x1000-1@1x.png" alt="" class="h-[75] w-full rounded-t-lg bg-slate-200"/>

                  <div class="px-3">
                    <p class="arc_subtitle mt-1">John Doe</p>

                    <!-- Socials -->
                    <div class="Speakers_Socials">
                      <div class="inline-flex justify-start space-x-4">
                        <div class="flex items-center gap-1">
                          <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/logo-github-12@1x.png" alt="" class="h-5 w-5 rounded-full"/>
                          <span>Github</span></div>
                        <div class="flex items-center gap-1">
                          <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/logo-github-12@1x.png" alt="" class="h-5 w-5 rounded-full"/>
                          <span>Github</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="arc_subtitle">Question about event?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="Event__Component">
          <div class="w-full">
            <p class="arc_subtitle">Event Location</p>
            <div class="cards">
              <div class="">
                <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/screencapture-www-google-com-maps-1-3380006-36-6912935-15-5z-1583632512562@1x.png" alt="" class="rounded-t-lg bg-slate-200"/>

                <div class="">
                  <p class="arc_subtitle mt-1">iHub, Nairobi, Kenya</p>
                  <div class="Time_Date">
                    <p class="text-base">5.00 PM - 8.00 PM (EAT)</p>
                    <p class="text-base">June 22, 2020</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-1">
            <div class="Share__Component">
              <h2 class="arc_subtitle">Share</h2>
              <div class="my-1 flex space-x-4">
                <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/group-513-1@1x.png" alt="" class="h-10 w-10"/>
                <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/group-514@1x.png" alt="" class="h-10 w-10"/>
                <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/group-512@1x.png" alt="" class="h-10 w-10"/>
                <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/group-511@1x.png" alt="" class="h-10 w-10"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="Other">
      <div>
        <h2 class="arc_title">Other events you may like</h2>
      </div>

      <div class="cards my-4 grid grid-cols-3 gap-4">
        <div class="">
          <div class="OtherEvent__Component">
            <div class="w-full border-b-2 border-dotted border-indigo-600 pb-5">
              <p class="text-sm">Kenya - Nairobi</p>
              <div class="cards">
                <div class="">
                  <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/screencapture-www-google-com-maps-1-3380006-36-6912935-15-5z-1583632512562@1x.png" alt="" class="rounded-t-lg bg-slate-200"/>

                  <div class="">
                    <p class="arc_subtitle mt-1">Vim and Ruby on Rails</p>
                    <div class="Time_Date">
                      <p class="text-base">5.00 PM - 8.00 PM (EAT)</p>
                      <p class="text-base">June 22, 2020</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="OtherEvent__Component">
            <div class="w-full border-b-2 border-dotted border-indigo-600 pb-5">
              <p class="text-sm">Kenya - Mombasa</p>
              <div class="cards">
                <div class="">
                  <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/screencapture-www-google-com-maps-1-3380006-36-6912935-15-5z-1583632512562@1x.png" alt="" class="rounded-t-lg bg-slate-200"/>

                  <div class="">
                    <p class="arc_subtitle mt-1">How to Ruby</p>
                    <div class="Time_Date">
                      <p class="text-base">5.00 PM - 8.00 PM (EAT)</p>
                      <p class="text-base">June 22, 2020</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="OtherEvent__Component">
            <div class="w-full border-b-2 border-dotted border-indigo-600 pb-5">
              <p class="text-sm">Kenya - Kisumu</p>
              <div class="cards">
                <div class="">
                  <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/screencapture-www-google-com-maps-1-3380006-36-6912935-15-5z-1583632512562@1x.png" alt="" class="rounded-t-lg bg-slate-200"/>

                  <div class="">
                    <p class="arc_subtitle mt-1">Programming</p>
                    <div class="Time_Date">
                      <p class="text-base">5.00 PM - 8.00 PM (EAT)</p>
                      <p class="text-base">June 22, 2020</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>